/* #D1E9F6 white 
 #F6EACB yellow
 #F1D3CE peach 
 #EECAD5 pink 
 #9ad9e9 light blue
  #3c6ca8 blue violet*/

body {
  margin: 0;
  background-color:#EECAD5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
}
.background {
  width:100%;
  height: 1000px;
  margin: 0;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: #eecad5;
  width: 900px;
  border-radius: 50px;
  padding: 30px;
}
#start-card {
  padding: 50px;
}

#how-to-play {
  height: 700px;
  display: none;
}

#how-to-play img {
  width: 875px;
}

h1 {
  font-size: 100px;
  color: #3c6ca8;
  margin: 50px 0 0 0;
  font-family: "lobster";
}

#game-screen,
#gameover-screen {
  background-color:#EECAD5;
  
  display: none; /* lo dejaremos en none*/
}

#game-box {
  background-color: #EECAD5;
  background-image: url("../images/floor-textures.jpg");
  background-repeat: repeat;
  background-size: contain;
  border: 2px solid #525151;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.46);
  width: 800px;
  height: 600px;
  margin: 20px;

  position: relative;
  overflow: hidden;
}
#delivery-area {
  background-color: #F1D3CE;
  background-image: url(../images/delivery-area.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: solid 2px #3c6ca8 ;
  text-align: center;
  height: 150px;
  width: 50px;
  position: absolute;
  top: 200px;
  right: 2px;
}

.button {
  background-color: #c75b7a;
  color: white;
  padding: 10px;
  font-size: 20px;
  margin: 20px;
  border-radius: 5px;
}
 .stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-between;
  align-items: center;
  gap: 200px;
 }

#orders-box {
  background-color: #d1e9f6;
  width: 700px;
  height: 80px;
  padding: 20px 50px;
  border-radius: 10px;
  border: 1px groove rgba(50,51,79,0.54);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.46);
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 90px;
}

#mute-button {
  position: fixed;
  top: 50px;
  right:50px;
}

 #mute-button img {
  width: 30px;
}

#points-marker {
  text-align: center;
  color: antiquewhite;
  /*background-color: orange;*/
  width: 140px;
  height: 140px;
  border-radius: 100px;
  position: relative;
}

#points-marker img {
  width: 100%;
  height: 100%;
  
}
#points-marker p {
  color: orange;
  font-size: 5rem;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#hand-box {
  background-color: #d1e9f6;
  width:80px;
  height:80px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.46);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#time-marker {
  text-align: center;
  color: antiquewhite;
  background-color: darkgray;
  width:140px;
  height: 140px;
  border-radius: 100px;
  position: relative;
}

#time-marker p {
color: whitesmoke;
  font-size: 3rem;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.decoration-start {
  display: flex;
  justify-content: space-between;
  gap: 500px;
}
.decoration-start img {
 height: 200px;
}